################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/opdrachten week 3/.vs/opdrachten week 3/FileContentIndex/93d3ae8b-6642-407f-b761-1e6665c947d5.vsidx
