################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/opdrachten week 3/.vs/opdrachten week 3/FileContentIndex/93d3ae8b-6642-407f-b761-1e6665c947d5.vsidx
/opdrachten week 3/.vs/opdrachten week 3/FileContentIndex
/opdrachten week 3/.vs/opdrachten week 3/v17
/opdrachten week 4/.vs/opdrachten week 4/FileContentIndex/07718848-8d81-4728-aa1f-113f7b5b94a5.vsidx
/opdrachten week 4/.vs/opdrachten week 4/FileContentIndex/dd5d6c24-e31e-4ab9-8622-9d868f401074.vsidx
/opdrachten week 4/.vs/opdrachten week 4/v17/Browse.VC.opendb
*.vsidx
